.App{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}



/*Estilos del navbar*/
.header{
  display: flex;
  width: 100%;
  margin: auto;
  height: 125px;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(56, 57, 58);
  border-bottom: 1px solid white;

  
}

.header nav{
 flex-grow: 1;
 align-items: center;
 height: auto;

}
.header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 35%;
  margin-bottom: 2px;
}

.header nav li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 35px;
  
}



.header nav a{
  width: 85px;
  text-decoration: none;
  color: rgb(227, 230, 233);
  position: relative;
}
  


.header nav a::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; 
  height: 4px; 
  background-color: rgb(236, 236, 236); 
  transition: width 0.3s; 
}

.header nav li:hover a::after {
  width: 100%; 
}



/*Estilos home-page*/

.home-page {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  background-color: black;
  
}

.home-page-titles {
  text-align: center; 
  padding-bottom: 10%;
  padding-left: 7%;
}

.home-page-titles h1 {
  font-size: 60px;
  color: white;
  margin: 0;

}

.home-page-titles h2 {
  font-size: 40px;
  color: white;
  margin: 0; 
  margin-left: 45%;
}

.home-page-titles h3 {
  font-size: 30px;
  color: white;
  margin: 0;
  margin-left: 48%; 
}

p {
  color: aliceblue;
}

/*Animación de las letras home-page*/


/*Estilos about me*/
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-about {
  max-height: 100px;
  padding-top: 5%;
}

.title-about h1 {
  letter-spacing: 7px;
  font-size: 35px;
  text-align: center;
  color: white;
  text-decoration: underline;
}


.about {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  margin-top: 10%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  padding-top: 5%;
  padding-bottom: 30px;
}

.about-me{
  flex:1;
  max-width: 40%;
  padding-left: 10%;
}
.about-image{
  flex:1;
  max-width: 40%;
  padding-left: 2%;
  padding-top: 1%;
}


.about-me p {
  color: white;
}


.about-image img {
  width: 320px; 
  height: 350px;
  margin-left: 35%; 
}


/*SKills page*/

.skills-container {
  display: flex;
  justify-content: center; 
}

.skills {
  text-align: center;
}

.skills-item {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.skills h1{
  margin-top: 50px;
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

.title11{

  color: white;
  font-size: 20px;
}
.title2{
  margin-top: 10px;
  color: white;
  font-size: 18px;
}


.title1 {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}




.skills-item ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-item ul li {
  margin: 0 5px;
  height: 150px; /* Altura fija para todos los elementos li */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.skills-item ul li img {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor li */
  max-height: 100%; /* La imagen se ajustará a la altura del contenedor li */
}

/* Establece el tamaño específico para cada imagen */
.html-image {
  width: 100px;
  max-height: 70px; /* Mantiene la proporción de la imagen */
}

.css-image {
  width: 85%;
  max-height: 100%; /* Mantiene la proporción de la imagen */
}

.javascript-image {
  width: 100px;
  height: 90px; /* Mantiene la proporción de la imagen */
}

.mongo-image {
  width: 200px;
  max-height: 100px; /* Mantiene la proporción de la imagen */
}

.mysql-image {
  width: 150px;
  max-height: 100px; /* Mantiene la proporción de la imagen */
}
